/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    background-image: url(../img/cork.png);
    font-family: "Edu TAS Beginner", cursive;
}

header {
    background-image: url(../img/wall.png);
    margin-bottom: 50px;
}

h1 {
    font-size: 6rem;
    text-align: center;
}

/* Utils */
.my-container {
    width: 80%;
    margin: 0 auto;
    /* DEBUG */
    background-color: grey;
}

#card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Cards */
#card {
    width: 480px;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #fff;
}

#card-img {
    width: 100%;
}